body {
  font-family: Quicksand; 
}

/* .topModal img {
  width: 100%;
  height: auto;
} */

.bodyContent {
  width: 56%;
  margin-right: 2rem;
}

#booking {
  position: sticky;
  top: 0;
}

.hid {
  overflow: hidden;
  margin-right: -30px;
}

.border {
  margin-top: 3px;
  margin-bottom: 23px;
}

.line {
  border: solid #ebebeb;
  border-width: 1px;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
}

.allContent {
  display: flex;
  padding: 20px 7rem 1rem 7rem;
}

.calModal {
  margin-left: 40px;
  width: 22rem;
}

.titleHomes {
  justify-content: center;
  display: grid;
}

h2.titleClass {
  margin: 5px 0px 20px 0px;
}

.explore {
  padding: 2rem 0rem 1rem 7rem;
}

.footer1 {
  padding: 1rem 0rem 0rem 7rem;
}

.lastBorder {
  padding: 0rem 0rem 3rem 6rem;
  width: 65rem;
}